* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
}
.maindiv{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 80px;
}
.browny{
    color: #d92cf9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 20px;
    
}
.menu{
    list-style-type: none;
    display: flex;
    margin-left: 170px;
    
}
.list{
    margin-left: 50px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 147, 147);
}
.list:hover{
    color: #d92cf9;
    cursor: pointer;
}
.imgdiv{
    position: relative;
    opacity: .3;  
}
.wlcmimg{
    /* background-size: 1220px 750px; */
    position: relative;
    background-color: rgba(31,44,108);
    height: 800px;
    width: 99%;
    border: 1px solid black;
    /* overflow: visible; */
}
.wlcmcntnt{
    position: absolute;
    color:white;
    top: 100px;
    left: 450px;
}
.wlcmcntnt h1{
    font-size: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* top: 50px; */
}
.wlcmcntnt p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 50px;
}
.wlcmcntnt input{
    border: 1px solid black;
    border-radius: 5px;
    background: #b636ff;
    padding: 15px;
    padding-right: 30px;
    margin-left: 70px;
    padding-left: 30px;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    box-shadow: 1px 1px 5px rgb(49, 47, 44);
    text-align: center;
}
.wlcmcntnt input:hover{
    cursor: pointer;
    background-color:rgb(136, 54, 212) ;
}
.about{
    background-color: white;
    width: 100%;
    height: 70px;
}
.about h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(74, 65, 65);
    margin-top: 50px;
}
.aboutmain{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    padding-top: 100px;
}
.aboutcntnt{
    text-align: left;
    width: 50%;
    font-size: 20px;
    color: #3c4258;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 30px;
   
    
}
.secondpara{
    text-align: left;
    font-size: 18px;
    color: #999fb3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
}
/* .abtimgicon{
    background-color: rgba(31,44,108,.3);
    width: 560px;
    overflow: auto;
} */
.aboutimg{
    /* width: 50%; */
    padding-left: 60px;
    margin-top: 20px;
    margin-left: 80px;
    /* position: relative; */
    /* height: 100px; */
    /* width: 100px; */
    /* opacity: .7; */
    /* background-color: rgba(31,44,108); */
    overflow: auto
}
.aboutimg img{
    height: 390px;
    padding-left: 40px;
    margin-top: 20px;
    width: 430px;
    position: absolute;
    
    /* background-color: rgba(31,44,108); */
    
}
.imgbackground{
    background-color: rgba(31,44,108,.4);
    width: 390px;
    height: 390px;
    /* height: 50px; */
    margin-left: 180px;
    position: relative;
    margin-top: 20px;  
}
.icon{
    height: 80px;
    position: relative;
    background-color: rgba(31,44,108);
    width: 390px;
    margin-left: 180px;
}
.icon svg{
    margin-left: 15px;
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}
.icon svg:hover{
    cursor: pointer;
}
.iconbar{
    position: absolute;
}
.abtdetails h1{
    font-size: 18px;
    color:#636a82 ;
    font-family: Arial, Helvetica, sans-serif;
}
.education{
    width: 100%;
    height:500px ;
    background: #f9fbfd;
    margin-top: 120px;
}
.heading{
    text-align: center;
    
}
.division{
    display: flex;
    /* justify-content: space-around; */
    margin-left: 30px;
}
.division h6{
    font-size: 18px;
    color: #43485c;
    font-family: Arial, Helvetica, sans-serif;
}
.division p{
    color: #636a82;
}
.timeline{
    display: flex;
}
.timeline svg{
    color: #d92cf9;
}
.timelinecntnt{
    display: flex;
    margin-left: 30px;
}
.timelinecntnt h6{
    font-size: 16px;
    color: #43485c;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.timelinecntnt p{
    color: #999fb3;
}
.experience{
    width: 100%;
    background: #f9fbfd;
}
.verticaltimeline{
    display: flex;
    margin-top: 50px;
}
.verticalright{
    text-align: right;
    margin-left: 150px;
}
.verticalhr{

}
.verticalleft{
    text-align: left;
    margin-right: 150px;
    
}





